*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("../imagens/fundo.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.content{
	display: flex;
	justify-content: center;
}

h1{
	margin-bottom: 10px;
	font-size: 30px;
}

.contato{
	margin-top: 60px;
	width: 100%;
	max-width: 500px;
}

.form{
	display: flex;
	flex-direction: column;
}

input{
	border-radius: 5px;
}

.field{
	padding: 10px;
	margin-bottom: 35px;
	border: 1px solid;
}

#botao{
	font-size: 15px;
	padding: 10px;
	background-color: #dadee0;
	font-weight: bolder;
}