*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../imagens/fundo.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.login{
	width: 360px;
	height: 360px;
	padding: 20px;
	border-radius: 12px;
	background-color: #f2fbfc;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.login h1{
	font-size: 36px;
	margin-bottom: 25px;
}

.login form{
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.campo{
	display: flex;
	flex-direction: column;
}

.login form .form-group{
	margin-bottom: 12px;
}

.login form input[type="submit"] {
	font-size: 20px;
	padding: 5px;
	font-weight: bolder;
	margin-top: 15px;
	background-color: #dadee0;
}

.login form input[type="email"]{
	padding: 10px;
	margin-bottom: 10px;
}

.login form input[type="password"]{
	padding: 10px;
	margin-bottom: 10px;
}

a{
	color: black;
	font-size: 15px;
	font-weight: bold;
}