* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    /*background-image: url("../imagens/fundo.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;*/
}

#barra {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
    background-color: #098aed;
}

#catalogo {
    height: 90%;
    width: 100%;
    background-color: #d2f0fc;
}

.dropdown-center {
    width: 5%;
    background-color: #098aed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdown {
    color: black;
    background-color: #098aed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.dropdown-menu {
    background-color: #75b9f0;
}

.dropdown-item {
    color: black;
    font-weight: bolder;
}

#opcao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#barra-direita {
    width: 300px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#campo-pesquisa {
    border-radius: 20px;
}

img {
    width: 100px;
    height: 130px;
    margin: 20px;
    box-shadow: 5px 5px #898f8b;
}

#lupa {
    width: 20px;
    height: 20px;
}

.icones {
    width: 20px;
    height: 20px;
    box-shadow: none;
}

.icones-menu {
    width: 35px;
    height: 35px;
    box-shadow: none;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

#opcao {
    width: 100%;
}

#categorias:hover {
    background-color: #75b9f0;
}

#botao {
    background-color: #098aed;
}