* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    /*background-image: url("../imagens/fundo.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;*/
}

#barra {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
}

#catalogo {
    width: 100%;
    height: 100%;
    background-color: #d2f0fc; 
    display: flex;
    flex-flow: row wrap;
}

#exibicao{
    height: 100%;
    width: 50%;
    background-color: white;
    border: #898f8b solid 2px;
    display: flex;
    flex-flow: row wrap;
}

.dropdown-center {
    width: 5%;
    height: 2%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdown {
    color: black;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.dropdown-menu {
    background-color: azure;
    width: 220px;
}

.dropdown-item {
    color: black;
    background-color: #d2f0fc;
    font-weight: bolder;
}

#opcao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#barra-direita {
    width: 300px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#campo-pesquisa {
    border-radius: 20px;
}

#livros{
    width: 50%;
    height: 100%;
    background-color: #d2f0fc;
    display: flex;
    flex-flow: row wrap;
}

img {
    width: 120px;
    height: 130px;
    box-shadow: 5px 5px #898f8b;
}

#lupa {
    width: 20px;
    height: 20px;
}

.icones {
    width: 20px;
    height: 20px;
    box-shadow: none;
}

.icones-menu {
    width: 35px;
    height: 35px;
    box-shadow: none;
}

.selecao{
    background-color: azure;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin-bottom: 5px;
}

#opcao {
    width: 100%;
}

#categorias:hover {
    background-color: #75b9f0;
}

#botao {
    background-color: #098aed;
}

.livros{
    margin: 10px;
}