<!DOCTYPE HTML>
<html lang=pt-br>
<head>
  <meta charset=UTF-8>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min"/>
  <link rel="stylesheet" type="text/css" href="../css/cadastrar.css"/>
</head>
<body>
	<nav id="barra" class="navbar bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" href="#">
			<img src="imagens/livro.png" width="30" height="24" class="d-inline-block align-text-top">
			Ler+A
		  </a>
		</div>
	  </nav>
	<div id="container">
		<div id="campo-login">
			<h1 id="titulo-login">Login</h1>
			<div id="form">
                <div id="nome" class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Nome</label>
					<input type="text" class="form-control" id="exampleFormControlInput1">
				</div>
                <div id="sobrenome" class="mb-3">
					<label for="exampleFormControlInput2" class="form-label">Sobrenome</label>
					<input type="text" class="form-control" id="exampleFormControlInput2">
				</div>  
				<div id="email" class="mb-3">
					<label for="exampleFormControlInput3" class="form-label">E-mail</label>
					<input type="email" class="form-control" id="exampleFormControlInput3">
				</div>
				<div id="senha1" class="mb-3">
					<label for="exampleFormControlInput4" class="form-label">Senha</label>
					<input type="password" class="form-control" id="exampleFormControlInput4">
				</div>
                <div id="senha2" class="mb-3">
					<label for="exampleFormControlInput5" class="form-label">Repita a senha</label>
					<input type="text" class="form-control" id="exampleFormControlInput5">
				</div> 
				<div id="botao">
					<button id="submit" class="btn btn-primary" type="submit">Cadastrar</button>
				</div>
		   </div>
		</div>
	</div>
</body>
</html>