<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/tela_usuario.css">
    <title>Document</title>
</head>
<body>
  <div class="dropdown-center">
    <button id="dropdown" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="true">
      <img id="icone-menu" src="../imagens/menu.png" alt="">
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"><img class="icones" src="../imagens/conta.png" alt="">Minha conta</a></li>
      <li><a class="dropdown-item" href="#"><img class="icones" src="../imagens/livro.png" alt="">Meus Livros</a></li>
      <li><a class="dropdown-item" href="#"><img class="icones" src="../imagens/filtro.png" alt="">Categorias</a></li>
      <li><a class="dropdown-item" href="#"><img class="icones" src="../imagens/sair.png" alt="">Sair</a></li>
    </ul>
</div>
  <div id="catalogo">
    <a href="#"><img src="../livros/capas/holmes.jpg" alt=""></a>
    <a href="#"><img src="../livros/capas/inteligencia_emocional.jpg" alt=""></a>
    <a href="#"><img src="../livros/capas/o_cortico.jpg" alt=""></a>
    <a href="#"><img src="../livros/capas/shell_linux.jpg" alt=""></a>
    <a href="#"><img src="../livros/capas/use_a_cabeca_python.jpg" alt=""></a>
    <a href="#"><img src="../livros/capas/holmes2.jpg" alt=""></a>
    <a href="#"><img src="../livros/capas/dicionario_espanhol.jpg" alt=""></a>
    <a href="#"><img src="../livros/capas/teste_de_invasao.jpg" alt=""></a>
    <a href="#"><img src="../livros/capas/sgbd_oracle.jpg" alt=""></a>
  </div>

    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>